<!DOCTYPE html>
{% extends "basicapp/base.html" %}
    {% block title %}index page{% endblock %}
    {% block body_block %}
    {% load static %}
        <h2>login</h2>
        <form action="{% url 'basicapp:user_login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username">

            <label for="password">password</label>
            <input type="password" name="password">

            <input type="submit"  value="login">
        </form>


    {% endblock %}}